{% load account static %}

{% comment %}NAVBAR{% endcomment %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark px-3">
  <a class="navbar-brand" href="/"><img src="/static/images/skyline.svg" alt="skyline" width="100%" height="24" class="d-inline-block align-text-top" /></a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"><span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="far fa-envelope-open me-2"></i>Post</a>
      </li>
    </ul>

    <form class="d-flex me-3" method="GET" action="{% url 'search' %}">
      <input class="form-control me-2 bg-dark-subtle" type="search" name="q" placeholder="Search" />
      <button class="btn btn-outline-dark-subtle" type="submit">Search</button>
    </form>

    {% if user.is_authenticated %}
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle user" data-bs-toggle="dropdown">
          <i class="far fa-user me-2"></i><span>{{ user.username }}</span></a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="#">Profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Settings</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
          </li>
        </ul>
      </div>
    {% else %}
      <a href="{% url 'account_login' %}" class="btn btn-outline-primary"><i class="fa-solid fa-person-circle-question me-2"></i>Please Login</a>
    {% endif %}
  </div>
</nav>
{% comment %}END NAVBAR{% endcomment %}
